//Color code
$primary-color: #313446;
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #808080;
$concrete-color:#f2f2f2;
$error-color: #d10303;
$progress-color: #53C1DE;

//Font size code
$default-font-size: 14px;
$large-font-size: 20px;

//Font-Weight code
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-strong: 500;
$font-weight-bold: 600;
