.search-section {
  padding: 20px;
  text-align: center;

  input {
    width: 50%;
    height: 50px;
    padding: 10px 15px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
  }
}

.search-list-section {
  padding: 0 15px 10px;

  h2 {
    font-size: $large-font-size;
    text-transform: uppercase;
    font-weight: 600;
  }

  li {
    position: relative;
    padding: 15px;
    color: #ffffff;
    background-color: $gray-color;

    span {
      display: block;
      font-size: 16px;
    }
  }

  li + li {
    margin-top: 10px;
  }
}

.details {
  position: relative;
  z-index: 1;
}

.population-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  background-color: $progress-color;
}